<html>
	<head>
		<link rel="stylesheet" href="style.css">
		<title>{% block title %}My Amazing Site{% endblock %}</title>
	</head>
	
	<body>	
		<nav>
			<ul>
				<li><a href="today.html">today</a></li>
				<li><a href="thisweek.html">This Week</a></li>
				<li><a href="key.html">Key</a></li>
				<li><a href="profile.html">Profile</a></li>
				<li><a href="index.html">Home</a></li>
			</ul>
		</nav>
		<center>
			{% block head%}{% endblock %}
			<div id="content">
				{% block content %}{% endblock %}
			</div>
			{% block scripts%}{% endblock %}
		</center>
	</body>
</html> 
