{% extends 'base.html '%}
{% load static %}

{% block title%}Profile{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
{% endblock %}

{% block head %}
	<h1>Profile</h1>
{% endblock%}

{% block content %}
	<center>
		<img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Pierre-Person.jpg" width="300">
		<h3>Nickname</h3>
		<p>biology is bio</p>
	</center>
	
	<ul>
		<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor nisl nec neque rutrum rutrum. Aliquam ut nisi ante. Duis molestie viverra ligula, vel facilisis odio efficitur a. Duis et enim a nunc lobortis ullamcorper eget ac odio. Duis vel sagittis nisl. Duis et purus ut elit venenatis consequat a ultricies nisi. Mauris posuere sed enim vulputate venenatis. Nullam volutpat ac neque quis maximus. In hac habitasse platea dictumst. Etiam ut libero feugiat, pharetra dui vel, cursus orci. Donec et quam gravida, commodo sapien vel, tristique lectus. In et ultricies velit. Curabitur rhoncus sed tortor vel porttitor. Praesent sed laoreet ipsum, sed mattis turpis. Aliquam et consectetur mauris.</li>
	</ul>
{% endblock %}