{% extends 'base.html '%}
{% load static %}

{% block title%}This Week{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
	<style>
		li{
			padding:0px;
			margin
		}
	</style>
{% endblock %}

{% block head %}
	<h1>This Week</h1>
{% endblock%}

{% block content %}
	<h2>03.01.MON - 03.07.SUN</h2>
	<table>
		<tr>
			<th>Type</th>
			<th>Description</th>
			<th>Edit Task</th>
			<th>Delete Task</th>
			<th>Done Task</th>
		</tr>
		{%for task in object_list%}
			<tr>
				<td>{{task.task_type}}</td>
				<td>{{task.task_description}}</td>
				<td><button type="button"><a href="{%url 'edit_task_this_week' task.id%}" class="butt">Edit Task</a></button></td>
				<td><button type="button"><a href="{%url 'delete_task_this_week' task.id%}" class="butt">Delete Task</a></button></td>
				{%if task.task_type == "TASK" %}
				<td><button type="button"><a href="{%url 'done_task_this_week' task.id%}" class="butt">Done Task</a></button></td>
				{%endif%}
			</tr>
		{%endfor%}
	</table>
	<button type="button"><a href="add_task_this_week" class="butt">Add Task</a></button>
{% endblock %}