{% extends 'base.html '%}
{% load static %}

{% block title%}This Week{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
	<style>
		li{
			padding:0px;
			margin
		}
	</style>
{% endblock %}

{% block head %}
	<h1>This Week</h1>
{% endblock%}

{% block content %}
	<li>04.05.MON - Align Telescope</li>
	<li type="circle">04.06 TUES - Cyan found dead</li>
	- 04.07 WED - There is an imposter among us
	<li>04.08 THURS - Stabilize Steering</li>
	<li>04.09 FRI - Sort Samples</li>
	<li>04.10 SAT - Fix Weather Node</li>
{% endblock %}