{% extends 'base.html '%}
{% load static %}

{% block title%}This Week{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'css/styles.css'%}">
	<style>
		li{
			padding:0px;
			margin
		}
	</style>
{% endblock %}

{% block head %}
	<h1>This Week</h1>
{% endblock%}

{% block content %}
	<h2>03.01.MON - 03.07.SUN</h2>
	<table>
		<tr>
			<th>Type</th>
			<th>Description</th>
		</tr>
		{%for task in object_list%}
			<tr>
				<td>{{task.task_type}}</td>
				<td>{{task.task_description}}</td>
			</tr>
		{%endfor%}
	</table>
	<button type="button"><a href="add_task_this_week" class="butt">Add Task</a></button>
{% endblock %}